* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

input.swap {
    display: none;
}

.display {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background: white;
}

label.theme {
    width: 100px;
    height: 50px;
    top: -45%;
    left: 45%;
    border-radius: 100px;
    background-image: url(image/sun.jpg);
    box-shadow: 10px 10px 30px rgba(248, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 99px;
    background: rgb(131, 177, 227);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.05),
        -10px -10px 3 0px rgba(111, 167, 212, 0.904) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

svg {
    width: 80px;
    position: absolute;
}

.sun {
    margin-top: 0%;
    opacity: 1;
}

.moon {
    margin-top: -150%;
    color: rgb(255, 251, 32);
    opacity: 0;
}

input.swap[type=checkbox]:checked+.display {
    background: #2C2C2F;
}

input.swap[type=checkbox]:checked+.display label.theme {
    background: #535353;
    background-image: url(image/night.jpg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}

input.swap[type=checkbox]:checked+.display label.theme .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #0a0f41ab;
    box-shadow: 20px 10px 50px rgba(173, 173, 173, 0.5),
        -10px -10px 30px rgba(9, 22, 134, 0.705) inset;
}

input.swap[type=checkbox]:checked+.display label.theme .circle .sun {
    margin-top: 10%;
    opacity: 0;
}

input.swap[type=checkbox]:checked+.display label.theme .circle .moon {
    margin-top: 0%;
    opacity: 1;
}

label.theme:active .circle {
    width: 20px;
}

.spinner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    min-height: 100vh;
    position: fixed;
    background: #ffffff;
    top: 0;
    left: 0;
    transition: opacity 2.5s, visibility 5s;
}

.spinner--hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 11.2px;
    height: 11.2px;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 rgba(71, 74, 255, 0.2), 22.7px 16.5px 0 0 rgba(71, 75, 255, 0.4), 8.68px 26.6px 0 0 rgba(71, 75, 255, 0.6), -8.68px 26.6px 0 0 rgba(71, 75, 255, 0.8), -22.7px 16.5px 0 0 #474bff;
    animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
    to {
        transform: rotate(360deg);
    }
}